<% content_for :title do%>Projects - <%end%>


<h1>Some of projects I've been working:</h1>
<div class="cards container">
    <div class="card col-md-6">
      <a href="/projects/florestanegra" class="card-background">
        <img width="500" class="card-img-top" src="/images/projects/florestanegramain.jpg" alt="Pousada Floresta Negra Main">
        <div class="card-block">
          <div class="card-title">Pousada Floresta Negra</div>
          <div class="card-type">
            Enterprise Site
          </div>
          <div class="card-text">
            Design + Development + CMS
          </div>
          <span class="tag">Ruby</span>
          <span class="tag">Rails</span>
          <span class="tag">HTML</span>
          <span class="tag">CSS</span>
          <span class="tag">Javascript</span>
        </div>
      </a>
    </div>
    <div class="card col-md-6">
      <a href="/projects/altodaserra" class="card-background">
        <img width="500" class="card-img-top" src="/images/projects/altodaserramain.jpg" alt="Alto da Serra Main">
        <div class="card-block">
          <div class="card-title">Alto da Serra Turismo</div>
          <div class="card-type">
            Enterprise Site
          </div>
          <div class="card-text">
            Design + Development + CMS
          </div>
          <span class="tag">PHP</span>
          <span class="tag">Laravel</span>
          <span class="tag">Angular</span>
          <span class="tag">HTML</span>
          <span class="tag">CSS</span>
          <span class="tag">Javascript</span>
        </div>
      </a>
    </div>

</div>
